@font-face
  font-family: 'Onest'
  src: url('/fonts/Onest_latin_100-900.woff2') format('woff2')
  font-style: normal
  font-weight: 100 900

@font-face
  font-family: 'Onest'
  src: url('/fonts/Onest_cyrillic_100-900.woff2') format('woff2')
  font-style: normal
  font-weight: 100 900


